
		/* Container */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}


		/*Main-header*/
.main-header {
	min-height: 100vh;
	color: #ffffff;
	background-color: #000000;
	background-size: cover;
	background-image: url(../img/4.jpg);
	background-position: 0 10%;
}

.header-block {
	min-height: 45vh;

}

		/*Slider*/

.slider {
	display: flex;
	min-height: 700px;
	flex-direction: column;
	justify-content: center;
}


.slider p {
	margin: 0 0 0.5em 0;
	font-size: 2.8em;
	font-weight: 400;
}

.slider a {
	font-size: 2em;
	font-weight: 400;
	color: #ffffff;
}

@media (max-width: 750px) {
	.slider p {
		font-size: 1.5em;
	}

	.slider a {
		font-size: 1.5em;
	}
}


.slider-caption {
	/*transition: opacity 500ms ease-in-out 0s;*/
	position: relative;
	transition-property: opacity;
	transition-duration: 0.6s;
	transition-timing-function: ease-in-out;
	opacity: 1;
	margin: 0 0 0.5em 0;
	font-family: "Righteous", cursive;
	font-size: 4em;
	font-weight: 300;
	text-align: center;
	color: #61dafb;
}

@media (max-width: 750px) {
	.slider-caption {
		font-size: 2em;
		font-weight: 300;
	}
}

.slider-description {
	position: relative;
	transition-property: opacity;
	transition-duration: 0.6s;
	transition-timing-function: ease-in-out;
	text-align: center;
	opacity: 1;
}

.slider-caption-off, .slider-description-off {
	opacity: 0;
	position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.slide {
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 40vh;
	padding: 0 2vw 0 2vw;
}

.details-btns {
	flex-wrap: wrap;
	min-width: 20vw;
}


.detail-link, .product-buy-btn {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	position: relative;
	transform: translateZ(0);
	min-width: 10vw;
	min-height: 7vh;
	margin-right: 2vw;
	padding: 0;
	text-decoration: none;
	background-color: #61dafb;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border: 0;
}

@media (max-width: 750px) {
	.detail-link, .product-buy-btn {
		min-width: 25vw;
	}
}

.detail-link::before, .product-buy-btn::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: scale(0);
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	background-color: #666666;
}

.detail-link:hover, .product-buy-btn {
	border: 0;
	outline: 0;
}

.detail-link:hover::before, .detail-link:focus::before, .detail-link:active::before,
.product-buy-btn:hover::before, .product-buy-btn:focus::before, .product-buy-btn:active::before {
	transform: scale(1);
}

.detail-link:last-child, .product-buy-btn:last-child {
	margin: 0;
}

.detail-link-text {
	display: flex;
	align-items: center;
	cursor: pointer;
}

		/*About-us*/

.about-us {
	min-height: 60vh;
	padding: 10vh 5vw;
	background-color: #ffffff; /*for grid*/
}
.about-us-block {
	width: 50vw;
}

@media (max-width: 700px) {
	.about-us-block {
		width: auto;
	}

}


.about-us-caption {
	position: relative;
	margin-bottom: 4vh;
	padding-bottom: 2vh;
	font-size: 3em;
	font-weight: 500;
	text-align: center;
	color: #61dafb;
}

.about-us-caption::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0.9;
	width: 1.2em;
	height: 0.05em;
	background-color: #000000;
}

@media (max-width: 700px) {
	.about-us-caption::before {
		top: 100%;
	}

}

.about-us-description {
	margin-bottom: 2vh;
	text-align: center;
}




		/*Block-information*/

.block-information {
	padding: 10vh 5vw;
	background-color: gray;
}

.information-items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(40vh, auto);
	width: 80vw;
	min-height: 50vh;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: white; /*for grid*/
}

@media (max-width: 930px) {
	.information-items {
		grid-template-columns: none;
	}
}

.information-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
}

.information-item * {
	margin: 0 0 4vh 0;
}

.information-item *:last-child {
	margin-bottom: 0;
}

.information-item-caption, .information-item-paragraph {
	color: #61dafb;
	text-align: center;
}

.information-item-caption {
	position: relative;
	padding-bottom: 2vh;
}


.information-item-caption::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	opacity: 0.9;
	width: 1.5em;
	height: 0.08em;
	transform: translateX(-50%);
	padding-left: 2vw;
	background-color: #000000;
}

.information-item-img {
	position: relative;
}

.information-item-img img {
	width: 100%;
	height: 100%;
}

.information-item-img:nth-child(odd)::before {
	content: "";
	position: absolute;
	top: 40%;
	right: 0;
	border-top: 2em solid transparent;
	border-right: 2em solid #ffffff;
	border-bottom: 2em solid transparent;
	border-left: 0;
}

.information-item-img:nth-child(even)::before {
	content: "";
	position: absolute;
	top: 40%;
	left: 0;
	border-top: 2em solid transparent;
	border-right: 0;
	border-bottom: 2em solid transparent;
	border-left: 2em solid #ffffff;
}

@media (max-width: 940px) {
	.information-item-img:nth-child(odd)::before {
		bottom: 0;
		right: 40%;
		transform: translateX(-50%);
		border-right: 2em solid transparent;
		border-bottom: 2em solid #ffffff;
		border-left: 2em solid transparent;
	}

	.information-item-img:nth-child(even)::before {
		top: 0;
		left: 40%;
		transform: translateX(50%);
		border-right: 2em solid transparent;
		border-top: 2em solid #ffffff;
		border-left: 2em solid transparent;
	}
}

@media (max-width: 700px) {
	.information-item-img:nth-child(odd)::before {
		transform: translateX(0);
	}

	.information-item-img:nth-child(even)::before {
		transform: translateX(0);
	}
}

.information-item-img img {
	width: 100%;
	height: 100%;
}

.information-item-description {
	padding: 2vh 2vw;
}

.information-item-caption {
	font-size: 2em;
	font-weight: 100;
}

	/*Product-gallery*/

.product-gallery {
	padding: 10vh 10vw;
}

.product-gallery * {
	margin: 0;
}

.product-gallery-caption {
	margin-bottom: 10vh;
	text-align: center;
}



.product-gallery-caption a {
	font-size: 1.5em;
	font-weight: 300;
	text-decoration: none;
	color: #61dafb;
}

.product-gallery-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(40vh, auto);
	grid-column-gap: 5vw;
	grid-row-gap: 5vh;
	position: relative;
	width: 80vw;
	min-height: 50vh;
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (max-width: 930px) {
	.product-gallery-items {
		grid-template-columns: none;
	}
}

.gallery-item {
	position: relative;
	overflow: hidden;
}

.gallery-item img {
	width: 100%;
	height: 100%;
	transition-duration: 1s;
}

.gallery-item-information {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transition-delay: 0.2s;
	transition-duration: 0.3s;
	transform: translate(-50%, -50%);
	opacity: 0;
	padding: 0 2vw 0 2vw;
	text-align: center;
}

.gallery-item::before {
	content: "";
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition-duration: 0.2s;
	background-color: rgba(0,0,0,0);
}

.gallery-item:hover img {
	transform: scale(1.2);
}

.gallery-item:hover::before {
	background-color: rgba(0,0,0,0.8);
}

.gallery-information-caption {
	font-size: 2em;
	margin-bottom: 2vh;
}

.gallery-information-description {
	margin-bottom: 2vh;
	color: #ffffff;
}

.gallery-information-link {
	text-decoration: none;
	color: #61dafb;
}

@media (max-width: 700px) {
	.gallery-item-information .gallery-information-caption {
		font-size: 1em;
	}

	.gallery-item-information .gallery-information-description {
		font-size: 0.8em;
	}
}

.gallery-item:hover .gallery-item-information {
	opacity: 1;
}

		/*Products-content*/ /*products-types-items*/

.products {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10vh 5vw;
}

.products-caption {
	font-size: 2em;
}

.products-types-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.products-type-item {
	margin-bottom: 10vh;
}

.products-caption, .type-item-caption {
	text-align: center;
}

.products-caption {
	margin-bottom: 10vh;
}

.products-items {
	display: grid;
	grid-template-columns: repeat(3, 25vw);
	grid-column-gap: 2vw;
	grid-row-gap: 2vw;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (max-width: 700px) {
	.products-items {
		grid-template-columns: none;
	}
}

.products-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.products-item:last-child {
	margin-right: 0;
}

.item-wrap-img {
	display: flex;
	align-items: center;
	min-height: 80vh;
}

.product-item-img {
	width: 100%;
}

.product-btns-container {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

.product-buy-btn {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	position: relative;
	transform: translateZ(0);
	min-width: 10vw;
	min-height: 6vh;
	padding: 0;
	font-size: 2em;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
	background-color: #61dafb;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border: 0;
}

@media (max-width: 750px) {
	.product-buy-btn {
		min-width: 25vw;
	}
}

.product-buy-btn::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: scale(0);
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	background-color: #666666;
}

.product-buy-btn {
	border: 0;
	outline: 0;
}

.product-buy-btn:hover::before, .product-buy-btn:focus::before, .product-buy-btn:active::before {
	transform: scale(1);
}

.product-buy-btn:last-child {
	margin: 0;
}

.product-buy-btn {

}

.products-text {
	margin-bottom: 10px;
	color: #61dafb;
}
		/*Gallery-page-content*/

.gallery-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10vh;
	padding-bottom: 10vh;
	text-align: center;
}

.gallery-block-caption {
	margin-bottom: 5vh;
}

.gallery-block-items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
	grid-column-gap: 5vw;
	grid-row-gap: 5vh;
	width: 80vw;
	margin: 0;
	padding: 0;
	list-style: none;
}

.gallery-block-img {
	cursor: pointer;
	width: 100%;
	margin-bottom: 5vh;
}

@media (max-width: 700px) {
	.gallery-block-items {
		grid-template-columns: none;
	}
}


/*navbar*/
.top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #000;
	color: #61dafb;
	height: 50px;
	padding: 1em;
}
.logo-nav a{
	text-decoration:none;
	color: #61dafb;
}
.logo-nav a:hover{
	color: #ffffff;
}
.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu > li {
	margin: 0 1rem;
	overflow: hidden;
}
.menu a{
	text-decoration:none;
	color: #61dafb;
}
.menu a:hover{
	color: #ffffff;
}

.menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: #61dafb;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}

.menu-button::after {
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

@media (max-width: 850px) {
	.menu-button-container {
		display: flex;
	}

	.menu {
		position: absolute;
		z-index: 100;
		top: 0;
		margin-top: 50px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	#menu-toggle ~ .menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	#menu-toggle:checked ~ .menu li {
		border: 1px solid #333;
		height: 2.5em;
		padding: 0.5em;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu > li {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: white;
		background-color: #222;
	}
	.menu > li:not(:last-child) {
		border-bottom: 1px solid #444;
	}
}

/*advantages*/
.advantages{
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
	margin: 0 auto;
	padding: 0 20vw 0 20vw;
}
.advantage{
	display: flex;
	min-width: 20vw;
	/*background-color: #616161;*/
	border-radius: 5px;
	border-color: black;
}
.advantage:hover{
	/*background-color: rgb(110, 110, 110);*/
}
.advantagesTittle h1{
	margin: 0;
	text-align: center;
	color: #61dafb;
}

.main-title {
	margin-bottom: 20px;
}

.advantageText{
	color: #ffffff;
}

.advantageTitle{
	color: #61dafb;
	text-align: center;
}

.advantageTitle h1 {
	margin: 0;
}

.advantageList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.advantageList h1 {
	color: #ffffff;
	font-size: 18px;
	text-align: left;
}

.advantageDescription {
	color: #ffffff;
	text-align: center;
}


/*footer*/
.footer{
	width: 100%;
	padding: 15px;
	background-color: #161616;
	display: flex;
}
.links-title h3{
	color: #61dafb;
}

.link{
	padding-top: 5px;
}
.link a, .link p{
	text-decoration: none;
	color: #ffffff;
}
.link a:hover{
	color: #61dafb;
}
.media{
	padding: 5px;
	display: flex;
}
.media > div{
	margin: 5px;
}
.underFooter{
	padding: 5px;
	width: 100%;
	background-color: #61dafb;
	text-align: center;
}
.underFooter p{
	margin: 0 auto;
}
.btn:hover{
	color: #ffffff;
	filter: drop-shadow(0 0 20px #ffffff);
}

.services-bottom{
	background:url(../img/banner.jpg) no-repeat fixed;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height: 410px;
	padding: 15px 0 5px 0;
}
/*Контакты*/
.contactsPage{
	background-color: #2b2b2b;
	padding: 15px;
}
.formWrapper{
	width: 100%;
}
.contactsTitle{
	padding: 15px;
	padding-top: 0px;
	text-align: center;
	color: #61dafb;
}
.formTitle{
	padding: 5px;
	color: #61dafb;
}
.formTitle h3{
	margin: 0;
	padding: 0;
}
.formWrapper{
	padding: 15px;
	background-color: #4f4f4f;
	border-radius: 15px;
}
.inputField{
	padding: 2px;
	width: 100%;
}

.formInput{
	width: 35%;
	padding: 5px;
	background-color: white;
	border-radius: 15px;
	outline: 0;
	outline-offset: 0;
}
.textPlace{
	margin-top: 1%;
	color: #61dafb;
}
.textPlace textarea{
	width: 100%;
	height:250px;
	background-color: white;
	border-radius: 15px;
	outline:none;
	padding: 5px;

	box-sizing: border-box;
	resize: none;
}
.submitWrapper{
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}
.submitWrapper input{
	color: white;
	background-color: #161616;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
}
.submitWrapper input:hover{
	transition: 0.3s;
	background-color: #61dafb;
	color: white;
	border-radius: 15px;
	filter: drop-shadow(0 0 5px #61dafb);
}
.map{
	height: 100%;
}
.map iframe{
	width: 100%;
	height: 100%;
	border-radius: 15px;
}
.contactsPageContainer{
	display: grid;
	grid-template-columns: 5fr 5fr;
	gap: 10px;
}
.contactInfo{
	margin-top: 1%;
}
.contactInfoTitle{
	color: #61dafb;
	text-align: center;
}
.management{
	padding: 5px;
	color: white;
}
.adressElement{
	padding: 5px;
}
.adress p{
	margin: 0;
	color: white;
}
.adress a{
	text-decoration: none;
	color: white;
}
.adress a:hover{
	color: #61dafb;
}
.phone{
	padding: 0;
}
.phone a{
	text-decoration:none;
	color: white;
}
.phone a:hover{
	color: #61dafb;
}
.politics{
	margin: 0 auto;
	text-align: center;
}
.smartDirectoryWrapper{
	display: none;
}
.smartDirectoryWrapper p{
	color: white;
}
.smartDirectory{
	margin-top: 2%;
	background-color: #616161;
	border-radius: 5px;
	display: flex;
	gap: 10px;
	padding: 5px;
}
select{
	background-color: white;
	border-radius: 5px;
}
option{
	border-radius: 5px;
	background-color: white;
}
option:hover{
	background-color: #61dafb;
}
.smartLine a{
	text-decoration:none;
	color: white;
}
.smartLine p{
	color: white;
}
#p {
	color: white;
}
.smartLine a:hover{
	color: #61dafb;
}
/*Наши достижения*/
.achivementsWrapper{
	background-color: #2b2b2b;
	padding: 10px;
}
.achivementsTitle h1{
	background-color: #2b2b2b;
	padding: 10px;
	text-align: center;
	color: #61dafb;
	margin: 0 auto;
}
.achivementsСontainer {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
	grid-template-rows: repeat(2, 500px);
}
.achivementsСontainer > .achivement > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.achivement:hover{
	transition: 1s;
	transform: scale(1.1);
}
/*Мощности*/
.powerArticle{
	background-color: #2b2b2b;  
	height: 100vh;
}
.powerContainer{
	width: 1200px;
	margin: 0 auto;
	padding: 10px;
	background-color:  #4f4f4f;
	height: 100%;
}
.powerTitle{
	text-align: center;
}
.powerLink{
	padding: 10px;
	font-size: larger;
	
}
.powerLink a{
	text-decoration: none;
	color: #61dafb;
}
.powerLink a:hover{
	color: white;
}
@media (max-width: 850px) {
	.powerContainer{
		width: 100%;
	}
	.achivementsСontainer {
		display: block;
	}
	.email{
		width: 50%;
		grid-template-columns: 2fr 30fr 2fr;
	}
	.footer{
		display: block;
	}
	.advantages{
		display: block;
	}
	.contactsPageContainer{
		display: block;
	}
	.contactsPage{
		padding-top: 0px;
	}
	.contactsTitle{
		padding-top: 5px;
	}
	.submitWrapper{
		text-align: center;
		padding-bottom: 5px;
	}
	.formInput{
		width: 90%;
	}
	.map{
		margin-top: 3%;
		height: 350px;
	}
	.formWrapper{
		width: 100%;
		padding: 5px;
	}
	.formTitle{
		text-align: center;
	}
	.textPlace{
		text-align: center;
	}
	.management{
		display: none;
	}
	.smartDirectoryWrapper{
		display: block;
	}
}






/*For orange text = Righteous*/

		/*Personal settings*/
* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif !important;
}

.popup-img {
	position: fixed;
	top: 25%;
	right: 25%;
	left: 25%;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	width: 40vw;
	height: 40vh;
	margin: 0 auto;
}



.popup-img-close::before {
	content: "";
	position: fixed;
	z-index: 9999;
	right: 25%;
	transform: rotate(-45deg);
	width: 1vw;
	height: 5vh;
	cursor: pointer;
	background-color: #ffffff;
}

.popup-img-close::after {
	content: "";
	position: fixed;
	z-index: 9999;
	right: 25%;
	transform: rotate(45deg);
	width: 1vw;
	height: 5vh;
	cursor: pointer;
	background-color: #ffffff;
}

@media (min-width: 701px) {
	.popup-img-close::before, .popup-img-close::after {

		width: 1vw;
		height: 6vh;
	}
}

@media (max-width: 700px) {
	.popup-img {
		width: 80vw;
		height: 80vh;
		transform: translate(-18%, -15%);
	}

	.popup-img-close::before, .popup-img-close::after {
		right: 0;
		width: 1vw;
		height: 4vh;
	}
}

.popup-slider-img {
	width: 100%;
	height: 100%;
}

.prev::before, .next::before,
.prev::after, .next::after {
	cursor: pointer;
}

.next::before {
	content: "";
	display: block;
	position: fixed;
	z-index: 9999;
	top: 50%;
	right: 20%;
	transform: rotate(-40deg);
	width: 0.5vw;
	height: 6vh;
	background: #ffffff;
}

.next::after {
	content: "";
	display: block;
	position: fixed;
	z-index: 9999;
	top: 54%;
	right: 20%;
	transform: rotate(40deg);
	width: 0.5vw;
	height: 6vh;
	background: #ffffff;
}

.prev::before {
	content: "";
	display: block;
	position: fixed;
	z-index: 9999;
	top: 50%;
	left: 20%;
	transform: rotate(40deg);
	width: 0.5vw;
	height: 6vh;
	background: #ffffff;
}

.prev::after {
	content: "";
	display: block;
	position: fixed;
	z-index: 9999;
	top: 54%;
	left: 20%;
	transform: rotate(-40deg);
	width: 0.5vw;
	height: 6vh;
	background: #ffffff;
}

@media (max-width: 700px) {
	.next::before {
		content: "";
		display: block;
		position: fixed;
		z-index: 9999;
		top: 26%;
		right: -5%;
		transform: rotate(-40deg);
		width: 0.5vw;
		height: 5vh;
		background: #ffffff;
	}

	.next::after {
		content: "";
		display: block;
		position: fixed;
		z-index: 9999;
		top: 31%;
		right: -5%;
		transform: rotate(40deg);
		width: 0.5vw;
		height: 5vh;
		background: #ffffff;
	}

	.prev::before {
		content: "";
		display: block;
		position: fixed;
		z-index: 9999;
		top: 26%;
		left: -5%;
		transform: rotate(40deg);
		width: 0.5vw;
		height: 5vh;
		background: #ffffff;
	}

	.prev::after {
		content: "";
		display: block;
		position: fixed;
		z-index: 9999;
		top: 31%;
		left: -5%;
		transform: rotate(-40deg);
		width: 0.5vw;
		height: 5vh;
		background: #ffffff;
	}
}

.overlay::before {
	content: "";
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9998;
	background-color: #3f3e3f;
	opacity: 0.5;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif !important;
	color: #61dafb;
}

.hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	outline: none;
	overflow: hidden;
	opacity: 0;
}
.btn-up {
	z-index: 1;
	position: fixed;
	background-color: #61dafb;
	right: 20px;
	bottom: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 50px;
  }
  
  .btn-up::before {
	content: "";
	width: 40px;
	height: 40px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }
  
  .btn-up_hide {
	display: none;
  }

  h1, p, h2, h3 { cursor: default; }
  
  @media (hover: hover) and (pointer: fine) {
	.btn-up:hover {
	  background-color: #61dafb;
	}
  }
